
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --unselected-color: rgb(184, 184, 184);
  --background-color: white;
  --primary-color: #90C7C1;
  --secondary-text-color: #586380;
  --primary-text-color: #282e3e;
  --border-color: #586380;
  --search-background: #edeff4;
  --hover-background: #edeff4;
  --secondary-border-color: rgb(212, 212, 212);
  --error-color: rgb(192, 67, 67);
}

[data-theme="dark"]{
  --background-color: #1b1b1b;
  --primary-text-color: #F6F7FB;
  --secondary-text-color: #D9DDE8;
  --search-background: #272727;
  --hover-background: rgb(37, 37, 37);
  --border-color: #454545;
}

.errorMsg{
  color: var(--error-color);
  font-weight: 600;
  margin-bottom: .5rem;
}

body{
  background-color: var(--background-color);
}

#Logo a{
  text-decoration: none;
  font-weight: 600;
  color: var(--primary-color);
  font-size: 1.5rem;
  display: none;
}

header{
  padding: 12px 1.5rem;
  display: grid;
  background-color: var(--background-color);
  grid-template-columns: max-content 60% max-content;
  justify-content: space-between;
  align-items: center;
}

header div input{
  width: 100%;
  padding: 14px 10px;
  outline: none;
  border: 1px solid var(--border-color);
  background-color: var(--search-background);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-weight: 600;
  color: var(--secondary-text-color);
}

header input::placeholder{
  color: var(--secondary-text-color)
}

#header-btns{
  display: flex;
  gap: 1rem;
  color: var(--secondary-text-color);
  align-items: center;
  position: relative;
}



.hide{display: none;}

.accountBtn{
  padding: 8px 10px;
  border-radius: 50%;
  background-color: rgb(86, 95, 100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.accountBtn svg{
  fill: var(--primary-text-color);
}

#TestForm .addQuestionBtn{
  color: white;
}

.filter-container{
  position: relative;
}

#filter-dropdown{
  position: absolute;
  background-color: var(--secondary-border-color);
  right: 15px;
  margin-top: .4rem;
  border-radius: 5px;
  width: max-content;
  padding: 8px 12px;
}

#filter-dropdown label{
  display: block;
  color: var(--secondary-text-color)
}

#account-dropdown{
  position: absolute;
  width: fit-content;
  top: 110%;
  right: 0;
  background-color: var(--background-color);
  
  border: 1px solid rgba(172, 172, 172, 0.556);
  border-radius: 5px;
  font-size: 1rem;
}

#user-account-email{
  color: var(--primary-text-color)
}

#account-dropdown-header{
  display: flex;
  gap: 1rem;
  padding: 14px 12px;
  justify-content: space-between;
  align-items: center;
  
}

#logout-btn{
  color: var(--secondary-text-color);
  font-weight: 600;
  width: 100%;
  text-align: left;
  padding: .5rem .7rem;
  font-size: 14px;
}

#logout-btn:hover{
  background-color: var(--hover-background);
}


div.account-dropdown-section:not(:last-child){
  border-bottom: 1px solid rgba(172, 172, 172, 0.556);
}

#account-dropdown ul{
  list-style-type: none;
  padding: .5rem 0;
}

#account-dropdown ul li a, #account-dropdown ul li button{
  padding: .5rem .7rem;
  width: 100%;
  text-align: left;
  text-decoration: none;
  display: block;
  color: var(--secondary-text-color);
  font-size: 14px;
  border: none;
  font-weight: 600;
}

#account-dropdown ul li a:hover, #account-dropdown ul li button div{
  display: flex;
  align-items: center;
  gap: .5rem;
}

#account-dropdown ul li a:hover, #account-dropdown ul li button:hover{
  background-color: var(--hover-background);
}

#default-main{
  display: flex;
  padding-bottom: 2rem;
}

#default-content{
  width: 100%;
  max-width: 1250px;
  margin: 1rem 0;
  padding: 0 1.5rem;
}

.sideNavSubContainer{
  padding: 1rem 0;
  
}

.sideNavSubContainer:not(:last-child){
  border-bottom: 3px solid var(--secondary-border-color);
}

#sideNav{
  position: fixed;
  z-index: 100;
  background-color: var(--background-color);
  min-width: 250px;
  width: 80%;
  height: 100%;
  left: 0;
  top: 0;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: .5s ease-in-out;
}

#sideNav.showNav{
  transform: translate(0);
}

#default-main .sideNavSubContainer > a{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.sideNavSubContainer > div svg{
  fill: var(--secondary-text-color)
}

#default-main nav{
  padding: 12px 1rem;
  width: 30%;
  max-width: 225px;
}

#default-main nav a{
  display: block;
  padding: .5rem;
  border-radius: 5px;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 550;
}

#default-main nav a:hover{
  background-color: var(--hover-background);
}

div.settings-container{
  border: 2px solid var(--border-color);
  border-radius: 5px;

}

h2.settings-title{
  margin: 1rem 0;
  font-size: 1rem;
  color: var(--secondary-text-color)
}

input:read-only{
  background-color: var(--background-color);
  border: none;
  color: var(--secondary-text-color);
}

.settings-sub-section-container{
  padding: .8rem;
}

.settings-sub-section-container h3{
  color: var(--primary-text-color)
}

.settings-sub-section-container:not(:last-child){
  border-bottom: 2px solid var(--border-color);
}

.form-field-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button{
  cursor: pointer;
  background-color: unset;
  border: none;
  padding: 8px 10px;
}

.form-field-container button{
  padding: 10px 16px;
  color: var(--primary-color);
  font-weight: 600;
  background-color: var(--background-color);
  border: none;
}

.form-field-container button:hover{
  background-color: var(--hover-background);
}

div.modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0a092d80;
  transform: translateY(-100%);
  transition: .5s ease-in-out linear;
}

div.showModal{
  transform: translateY(0);
}

div.modal > div{
  background-color: var(--background-color);
  width: fit-content;
  padding: .8rem 1.2rem;
  margin: 2rem auto ;
  border-radius: 5px;
}

div.modal > div > h2{
  margin: 1.5rem 0;
}

div.modal > div > input{
  padding: 8px 12px;
  display: block;
  width: 80%;
  margin: .5rem 0;
}

h1{
  color: var(--primary-text-color)
}

div.modal > div > button{
  display: inline-block;
  margin: 0 1rem 0 0;
  border-radius: 3px;
  font-weight: 600;
}

select{
  padding: 8px 12px;
  color: var(--secondary-text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  font-weight: 600;
}

#create-btn{
  color: var(--primary-color);
  display: none
}

#loginBtn{
  background-color: var(--primary-color);
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  color: var(--background-color);
  text-decoration: none;
}

#account-header-btn{
  padding: 8px 10px;
  border-radius: 50%;
  background-color: rgb(86, 95, 100);
}

#dropdown-focus{
  display:none;
}

ul.upload-type-list{
  list-style-type: none;
  display: flex;
  gap: 2rem;
}

ul.upload-type-list li button{
  color: var(--secondary-text-color);
  font-weight: 600;
  padding: 0;
  margin: 1rem 0;
}

ul.upload-type-list li button.type-selected{
  border-bottom: 3px solid var(--primary-color);
}

div.file-upload-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

div.file-upload-container div:first-child{
  display: flex;
}

div.file-upload-container.fileNotSelected div:first-child span{
  text-decoration:line-through;
  color: var(--unselected-color);
}

div.file-upload-container svg{
  fill: var(--secondary-text-color)
}

div.file-upload-container > div:first-child{
  min-width: 0;
  width: 100%;
}


div.file-upload-container div span{
  display: inline-block;
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

div.file-dropzone{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  padding: 20px;
  border-width: 2px;
  border-radius: 5px;
  border-color: var(--border-color);
  border-style: dashed;
  background-color: var(--hover-background);
  color: var(--secondary-text-color);
  transition: 'border .3s ease-in-out';
  overflow-y: auto;
}




button.generate-btn{
  background-color: var(--primary-color);
  margin: 1rem 0;
  color: white;
  font-weight: 500;
  font-weight: 600;
  border-radius: 2px;
}

div.file-dropzone ~ p{
  color: var(--primary-text-color);
  margin-top: 1rem;
}

#home-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#home-header button{
  background-color: var(--border-color);
  color: var(--secondary-text-color);
  padding: 8px 12px;
  display: inline-block;
  margin-right: 1rem;
  border-radius: 5px;
}

@media only screen and (min-width: 560px){

  #createTestPageContainer #TestForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #createTestPageContainer #TestForm label{
    grid-column: 1 / 3;
  }
}


@media only screen and (min-width: 768px){
  #default-content #itemsContainer{
    grid-template-columns: 1fr 1fr;
  }

  #default-content #createTestPageContainer #TestForm{
    display: block;
  }

  #default-content #createTestPageContainer{
    display: grid;
    grid-template-columns: 60% 35%;
    grid-template-rows: max-content 1fr;
    min-height: 500px;
    row-gap: .5rem;
    column-gap: 5%;
  }

  #Logo svg{
    display: none;
  }

  #Logo a{
    display: unset;
  }

  #mobileNavHeader{
    display: none;
  }

  #sideNav{
    all: unset;
  }



  #default-main nav{
    padding: 1rem;
    width: 30%;
    max-width: 225px;
  }

  #Logo svg.mobileNavMenu{
    display: none;
  }

  #default-content{
    width: 75%;
    max-width: 1250px;
    margin: 2rem auto;
    padding: 0 1.5rem;
    min-width: 0;
  }

  .pointer{
    cursor: pointer;
  }

  header input{
    width: 80%;
    padding: 14px 10px;
    outline: none;
    border: none;
    background-color: var(--search-background);
    border-radius: 5px;
    font-weight: 600;
    color: var(--secondary-text-color);
  }

  #create-btn{
    display: block;
  }

  
  
}

#default-content #TestForm > div:last-child{
  align-self: self-end;
}



@media only screen and (min-width: 1050px) {
  #default-content #itemsContainer{
    grid-template-columns: 1fr 1fr 1fr;
  }

 
  #default-content #createTestPageContainer #TestForm{
    max-width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: fit-content 55%;
    justify-content: space-between;
    row-gap: .5rem;
  }

  .testNameInput{
    grid-column: 1 / 3;
    display: block;
  }
  
}

#default-main nav .fileUploadArea h2{
  font-size: 1.1rem;
  margin: .2rem 0;
  color: var(--primary-text-color)
}

#default-main nav .fileUploadArea a{
  background-color: var(--primary-color);
  margin: .5rem 0;
  color: white;
  padding: 8px 10px;
  width: fit-content;
  font-weight: 600;
  border-radius: .2rem;
}

#itemsContainer{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 1000px;
}

div.studyItemContainer{
  background-color: var(--border-color);
  padding: 8px 12px;
  border-radius: 5px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
}

div.studyItemContainer h2{
  color:var(--primary-text-color);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}



.studyItemHeader p{
  margin: .5rem 0 ;
  background-color: rgb(212, 212, 212);
  color: var(--secondary-text-color);
  width: max-content;
  padding: 4px 6px;
  border-radius: 20px;
  font-size: .9rem;
}

.studyItemFooter{
  color: var(--secondary-text-color);
  font-weight: 600;
}
.studyItemFooter a{
  background-color: red;
  display: inline-flex;
  font-size: .9rem;
  padding: .3rem .4rem;
  border-radius: 50%;
  color: black;
}

label.checkbox-label{
  display: block;
  width: max-content;
  font-size: 1rem;
  margin-bottom: .2rem;
  color: var(--primary-text-color);
}

label.checkbox-label input{
  margin: 0 .5rem;
}

.formSubmitButton{
  background-color: var(--primary-color);
  margin: 1rem 0;
  padding: 8px 16px;
  color: white;
 border-radius: 2px;
 font-weight: 600;
 font-size: 1.1rem;

}

.form-label{
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-text-color);
  margin: .5rem 0;
  font-weight: 600;
}

#TestForm .form-heading, #createTestPageContainer #TestForm .form-heading{
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary-text-color);
  margin: .5rem 0;
  font-weight: 600;
}

#TestForm{
  
  width: 100%;
  grid-template-columns: 1fr;
  justify-content: space-between;
}

div.testFormDifficultyContainer button{
  background-color: var(--search-background);
  margin-right: .5rem;
  font-weight: 600;
  color: var(--primary-text-color);
  border-radius: .2rem;
}

.form-heading input[type="text"]{
  display: block;
  width: 100%;
  padding: 10px 8px;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(77, 76, 76);
  background-color: var(--background-color);
  color: var(--primary-text-color)
}

div.testFormDifficultyContainer button.diffSelected{
  background-color: var(--primary-color);
  color: #F6F7FB;
}



.formCheckbox{
  opacity: 0;
  position: relative;
  z-index: 0;
}

label.custom-checkbox{
  position: relative;
  cursor: pointer;
}

label.custom-checkbox > input{
  opacity: 0;
}

label.custom-checkbox span.custom-check{
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  content: "";
  display: block;
  background-color: var(--search-background);
  border: 1px solid var(--border-color);
  top: 1px;
  left: 0;
}

label.custom-checkbox span.custom-check::after{
  display: none;
  content: "";
  width: 3px;
  height: 8px;
  position: absolute;
  top: 1px;
  left: 5px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

label.custom-checkbox input:checked ~ span.custom-check{
  background-color: var(--primary-color);
}

label.custom-checkbox input:checked ~ span.custom-check::after{
  display: block;
}

div.topicsContainer{
  background-color: var(--search-background);
  color: var(--secondary-text-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  width: 100%;
  height: 150px;
  padding-top: 4px;

}



div.topic-item{
  cursor: pointer;
  overflow-x: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  background-color: var(--secondary-gray);
  height: fit-content;
  padding: 2px 12px;
  border-radius: 2px;
  font-size: .9rem;
  color: var(--);
  font-weight: 600;
  cursor: pointer;
}

div.topic-item.topicCrossed{
  text-decoration: line-through;
  color: var(--unselected-color);
}

div.mobileNavContainer{
  margin-top: 1rem;
  margin-left: 1rem;
}

#Logo svg{
  width: 40px;
  height: 50px;
}

#Logo svg.mobileNavMenu{
  width: 20px;
  margin-right: .5rem;
}

#mobileNavHeader{
  padding-left: .5rem;
}

#mobileNavHeader svg{
  width: 40px;
  height: 50px;
}

#mobileNavHeader svg.mobileNavMenu{
  width: 20px;
  margin-right: .5rem;
}

#createTestPageContainer{
  padding-bottom: 1rem;
  grid-template-columns: 1fr;
  min-height: 500px;
  row-gap: .5rem;
  column-gap: 5%;
}

#createTestPageContainer div:first-child{
  grid-column: 1 / 3;

}

#createTestPageContainer div:first-child p{
  color: var(--secondary-text-color)
}

.fileUploadedArea h2{
  color: var(--primary-text-color);
  margin: .2rem 0;
}

.fileUploadedArea{
  display: grid;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  width: 100%s;
}

.fileUploadedArea > div:first-child p{
  color: var(--secondary-text-color)
}

.filesUploadedContainer{
  color:var(--secondary-text-color);
  background-color: var(--hover-background);
  height: 100%;
  border-radius: 5px;
  width: 100%;
  padding: 1rem;
  border-color: var(--border-color);
  border-width: 1px;
  border-style: solid;
  min-width: 0;
  min-height: 150px;
  overflow-y: auto;
}

.topics-in-grid{
  grid-column: 1 / 3;
}

#topicsDropdownBtn{
  background-color: var(--search-background);
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
}

#sideNavTopicsContainer{
  max-height: 0px;
  overflow: hidden;
  padding: 0 .5rem;
  border-radius: 5px;
  transition: max-height 1s ease-in-out;
  transition: padding .1s ease-in-out;
  background-color: var(--search-background);
  margin-top: .5rem;
  transform-origin: top;
}

#sideNavTopicsContainer.show{
  max-height: 500px;
  padding: .5rem;
}

#sideNavTopicsContainer{
  background-color: var(--search-background);
  color: var(--secondary-text-color);
}

#sideNavTopicsContainer > div:not(:last-child){
  border-bottom: 1px solid var(--primary-text-color);
  padding: .2rem 0;
}

.flex{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.button{
  background-color: var(--primary-color);
  border-radius: 2px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--primary-text-color)

}

.sampleQuestionContainer{
  background-color: var(--search-background);
  padding: 1rem;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 120px;
  min-width: 100%;
  width: 0;
  border: 1px solid var(--border-color);
  color: var(--secondary-text-color)
}

input[type="text"]::placeholder{
  color: var(--secondary-text-color);
}

.sampleQuestionFormField{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content 1fr;
}

.sampleQuestionModal{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 100;
}

.sampleQuestionForm{
  width: fit-content;
  background-color: var(--background-color);
  margin: 4rem auto;
  padding: 3rem 1rem 1rem 1rem;
  border-radius: 5px;
  position: relative;
}

.sampleQuestionForm h2{
  font-size: 1rem;
  color: var(--secondary-text-color);
  margin-bottom: .2rem;
}

.sampleQuestionModalClose{
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 30px;
  height: 30px;
}

.sampleQuestionForm textarea{
  width: 100%;
  height: 100px;
  resize: none;
  padding: .5rem;
  background-color: var(--search-background);
  color: var(--secondary-text-color);
  margin: 0 0 .5rem 0;

}

.sampleQuestionForm label{
  display: block;
}

.sampleQuestionItem{
  padding: .2rem 0;
  color: var(--secondary-text-color);
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  overflow: hidden;
  text-wrap: nowrap;
}

.sampleQuestionItem p{
  
  text-overflow:ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

