*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --background-color: var(#f6f7fb);
}

body{
  background-color: var(--background-color);
}

header{
  padding: 12px 1.5rem;
  display: grid;
  background-color: white;
  grid-template-columns: max-content 60% max-content;
  justify-content: space-between;
  align-items: center;
}

header input{
  width: 100%;
  padding: 14px 10px;
  outline: none;
  border: none;
  background-color: rgb(243, 240, 240);
  border-radius: 5px;
  font-weight: 600;
  color: rgb(175, 169, 169);
}

header input::placeholder{
  color: rgb(168, 168, 168);
}

#header-btns{
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
}



.hide{display: none;}

.accountBtn{
  padding: 5px 10px;
  border-radius: 50%;
}

#account-dropdown{
  position: absolute;
  width: fit-content;
  top: 110%;
  right: 0;
  background-color: white;
  
  border: 1px solid rgba(172, 172, 172, 0.556);
  border-radius: 5px;
}

#account-dropdown-header{
  display: flex;
  gap: 1rem;
  padding: 14px 12px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(172, 172, 172, 0.556);
}

#account-dropdown ul{
  list-style-type: none;
  padding: .5rem 0;
}

#account-dropdown ul li a, #account-dropdown ul li button{
  padding: .5rem .7rem;
  width: 100%;
  text-align: left;
  text-decoration: none;
  display: block;
  background-color: white;
  border: none;
  color: rgb(158, 158, 158);
  font-weight: 600;
}

#account-dropdown ul li a:hover, #account-dropdown ul li button:hover{
  background-color: #f6f7fb;
}

