/*
 * react-circular-progressbar styles
 * All of the styles in this file are configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   */
  width: 100%;
  /*
   * This fixes a centering issue with CircularProgressbarWithChildren:
   * https://github.com/kevinsqi/react-circular-progressbar/issues/94
   */
  vertical-align: middle;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  /* Used when trail is not full diameter, i.e. when props.circleRatio is set */
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}

button.added{
  background-color: var(--primary-color);
}

.test-info-highlight {
  background-color: var(--search-background);
  padding: 1.5rem;
  border-radius: 5px;
  margin: 1rem auto;
  text-align: center;
  width: max-content;
  max-width: 90%;
}

.test-info-highlight p {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 1.1rem;
}

.test-loading {
  text-align: center;
  color: var(--secondary-text-color);
  font-weight: 500;
  padding: 1rem;
}

p.alert{
  background-color: var(--primary-color);
  width: max-content;
  position: fixed;
  color: var(--background-color);
  font-weight: 600;
  text-align: center;
  padding: 4px 100px;
  border-radius: 2px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
  transition: transform .5s ease-in-out;
  z-index: 1000;
}